
.info{
  background-color: aqua;
}

.success{
  background-color: darkseagreen;
}

.error{
  background-color: tomato;
}

.warn{
  background-color: orangered;
}

.notify_in{
  position: relative;
  animation-name: kfnotify_in;
  animation-duration: 2s;
  transition: all 1s;
}

.notify_out{
  position: relative;
  right:calc(-100%);
  animation-name: kfnotify_out;
  animation-duration: 2s;
  transition: all 1s;
}

@keyframes kfnotify_in{
  0% {
    right:calc(-100%);
  }
  100% {
    right:0%;
  }
}

@keyframes kfnotify_out{
  0% {
    right:0;
    top:0px;
  }
  60% {
    top:0px;
    right:calc(-100%);
  }
  100% {
    height:0px;
  }
}
