

.leftsidebar_in{
  left:0px;
  background-color: aqua;
  transition: 0.5s;
}

.leftsidebar_out{
  left: calc(-100%) !important;
  background-color: rgb(0, 155, 26);
  transition: 2s;
}

.rightsidebar_in{
  right:0px;
  background-color: aqua;
  transition: 0.5s;
}

.rightsidebar_out{
  right: calc(-100%) !important;
  background-color: rgb(0, 155, 26);
  transition: all 2s;
}